<div class="backdrop is-hidden" data-team-modal>
  <div class="modal team" data-team-modal-window>
    <button class="modal__close" data-team-modal-close>
      <svg class="modal__close-btn">
        <use href="./images/modal-team/close.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__team">
      <div class="modal__title">
        <h2 class="modal__text">Java Rise!</h2>
      </div>
      <ul class="students__wrapper">
        <li class="student">
          <a class="student-link" href="#">
            <img
              class="student__img"
              src="./images/modal-team/team-leader.jpg"
              alt="student profile picture"
            />
            <h2 class="student__name">Jed Fallorina</h2>
            <p class="student__description">Team Leader</p>
            <ul class="student-social__list">
              <li class="student-social__item">
                <a
                  class="student-social__link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </a>
        </li>
        <li class="student">
          <a class="student-link" href="#">
            <img
              class="student__img"
              src="./images/modal-team/scrum-master.jpg"
              alt="student profile picture"
            />
            <h2 class="student__name">Ceelin Doria</h2>
            <p class="student__description">Scrum Master</p>
            <ul class="student-social__list list">
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </a>
        </li>
        <li class="student">
          <a class="student-link" href="#">
            <img
              class="student__img"
              src="./images/modal-team/team-member-1.jpg"
              alt="student profile picture"
            />
            <h2 class="student__name">Anthony Alcala</h2>
            <p class="student__description">Developer</p>
            <ul class="student-social__list list">
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </a>
        </li>
        <li class="student">
          <a class="student-link" href="#">
            <img
              class="student__img"
              src="./images/modal-team/team-member-2.jpg"
              alt="student profile picture"
            />
            <h2 class="student__name">Jon Mariano</h2>
            <p class="student__description">Developer</p>
            <ul class="student-social__list list">
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </a>
        </li>
        <li class="student">
          <a class="student-link" href="#">
            <img
              class="student__img"
              src="./images/modal-team/team-member-3.jpg"
              alt="student profile picture"
            />
            <h2 class="student__name">Kelly Bahilidad</h2>
            <p class="student__description">Developer</p>
            <ul class="student-social__list list">
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </a>
        </li>
        <li class="student">
          <a class="student-link" href="#">
            <img
              class="student__img"
              src="./images/modal-team/team-member-4.jpg"
              alt="student profile picture"
            />
            <h2 class="student__name">Lauren Enclona</h2>
            <p class="student__description">Developer</p>
            <ul class="student-social__list list">
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="student-social__item">
                <a
                  class="student-social__link link"
                  href="#"
                  target="_blank"
                  rel="noopener"
                >
                  <svg class="social__icon">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
